<details class="mb-4 border-b border-gray-300 pb-2" open>
    <summary class="cursor-pointer text-xl font-semibold text-orange-400 hover:text-orange-200 focus:outline-none py-2 underline">
        {{ profileSection?.firstName }} {{ profileSection?.lastName }} ({{ profileSection?.nickName}})
        <span class="float-right text-gray-500 details-icon">
            <svg class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
        </span>
    </summary>
    <div class="p-4 bg-gray-50 rounded-b-lg" open>
        <a class="block mb-2 p-2 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 light:bg-gray-800 dark:border-gray-700 light:hover:bg-gray-400">
            <p class="mb-2 text-sm font-smaller tracking-tight text-gray-900 dark:text-black">{{ aboutSection?.description }}</p>
        </a>
        <strong class="text-gray-700 dark:text-gray-600"> Hobby </strong>
        <div class="text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm light:bg-gray-800 light:border-gray-700 dark:text-black">
            <a class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-black" *ngFor="let hobby of aboutSection?.hobbies">
                {{ hobby }}
            </a>
        </div>
        <strong class="text-gray-700 dark:text-gray-600"> Celebrity Favorite </strong>
        <div class="text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm light:bg-gray-800 light:border-gray-700 dark:text-black">
            <a [href]="celebrity.link" target="_blank" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-black" *ngFor="let celebrity of aboutSection?.celebrityFavoriteList">
                {{ celebrity.name }}
            </a>
        </div>
    </div>
</details>