<details class="mb-4 border-b border-gray-300 pb-2" open>
    <summary class="cursor-pointer text-xl font-semibold text-blue-400 hover:text-blue-600 focus:outline-none py-2 underline">
        Profile
        <span class="float-right text-gray-500 details-icon">
            <svg class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
        </span>
    </summary>
    <div class="p-2 bg-blue-300 rounded-b-lg" *ngIf="profileSection">
        <div class="space-y-4">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="bg-sky-200 p-4 rounded">
                    <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900">FirstName</label>
                    <input type="text" id="firstName" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="profileSection!.firstName">
                </div>
                <div class="bg-sky-200 p-4 rounded">
                    <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900">LastName</label>
                    <input type="text" id="lastName" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="profileSection!.lastName">
                </div>
                <div class="bg-sky-200 p-4 rounded">
                    <label for="nickName" class="block mb-2 text-sm font-medium text-gray-900">NickName</label>
                    <input type="text" id="nickName" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="profileSection!.nickName">
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="bg-sky-200 p-4 rounded">
                    <label for="introduce" class="block mb-2 text-sm font-medium text-gray-900">Introduce</label>
                    <textarea id="introduce" rows="4" class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="profileSection!.introduce"></textarea>
                </div>
                <div class="bg-sky-200 p-4 rounded flex flex-col items-center">
                    <label class="block mb-2 text-sm font-medium text-gray-900" for="user_avatar">Profile Upload</label>
                    <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" id="user_avatar" type="file" accept="image/*" (change)="onProfileImageChange($event)">
                    <div class="w-20 h-20 rounded-full overflow-hidden m-4 border border-gray-300 flex items-center justify-center">
                        <ng-container *ngIf="profileImagePreview; else showDefault">
                            <img [src]="profileImagePreview" alt="Profile Preview" class="object-cover w-full h-full">
                        </ng-container>
                        <ng-template #showDefault>
                            <img [src]="profileSection.profile" alt="Profile" class="object-cover w-full h-full" *ngIf="profileSection.profile">
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</details>
<details class="mb-4 border-b border-gray-300 pb-2" open>
    <summary class="cursor-pointer text-xl font-semibold text-blue-400 hover:text-blue-600 focus:outline-none py-2 underline">
        Contact Me
        <span class="float-right text-gray-500 details-icon">
            <svg class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
        </span>
    </summary>
    <div class="p-2 bg-blue-300 rounded-b-lg" *ngIf="contactSection">
        <div class="space-y-4 mb-4">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="bg-sky-200 p-4 rounded">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                    <input type="text" id="email" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="contactSection.email">
                </div>
                <div class="bg-sky-200 p-4 rounded">
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Phone</label>
                    <input type="text" id="phone" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="contactSection.phone">
                </div>
            </div>
        </div>
        <div class="space-y-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                <div class="bg-sky-200 p-4 rounded flex flex-col relative" *ngFor="let socialMedia of contactSection.socialMediaList; let i = index">
                    <label class="block mb-2 text-sm font-medium text-gray-900">ID</label>
                    <input type="text" class="mb-2 block w-20 p-1 text-gray-900 border border-gray-300 rounded bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 bg-gray-200 text-center" [(ngModel)]="socialMedia.id" readonly>
                    <button type="button" class="absolute top-0 right-0 m-2 p-2 bg-red-500 rounded-full shadow hover:bg-red-600 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2 flex items-center justify-center z-10 cursor-pointer" (click)="removeSocialMedia(i)" aria-label="Delete Education">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <label class="block mb-2 text-sm font-medium text-gray-900">SocialMedia Name</label>
                    <input type="text" class="mb-2 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="socialMedia.name">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Username</label>
                    <input type="text" class="mb-2 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="socialMedia.username">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Link</label>
                    <input type="text" class="mb-2 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="socialMedia.link">
                    <div class="mt-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Visible</label>
                        <div class="flex gap-4">
                            <label class="inline-flex items-center">
                                <input type="radio" class="form-radio text-blue-500" [(ngModel)]="socialMedia.visible" [value]="true" [name]="'visible-' + i">
                                <span class="ml-2 text-gray-900">Show</span>
                            </label>
                            <label class="inline-flex items-center">
                                <input type="radio" class="form-radio text-blue-500" [(ngModel)]="socialMedia.visible" [value]="false" [name]="'visible-' + i">
                                <span class="ml-2 text-gray-900">Hide</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center mt-4">
                <button type="button" class="w-full max-w-md px-6 py-2 bg-green-500 text-white rounded-lg shadow hover:bg-green-600 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-offset-2 text-center" (click)="addSocialMedia()">
                    Add SocialMedia
                </button>
            </div>
        </div>
    </div>
</details>
<details class="mb-4 border-b border-gray-300 pb-2" open>
    <summary class="cursor-pointer text-xl font-semibold text-blue-400 hover:text-blue-600 focus:outline-none py-2 underline">
        About Me
        <span class="float-right text-gray-500 details-icon">
            <svg class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
        </span>
    </summary>
    <div class="p-2 bg-blue-300 rounded-b-lg" *ngIf="aboutSection">
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mb-4">
            <div class="bg-sky-200 p-4 rounded">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                <input type="text" id="description" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="aboutSection.description">
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div class="flex flex-col">
                <h3 class="text-lg font-semibold mb-2 text-blue-600">Celebrities</h3>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div class="bg-sky-200 p-4 rounded flex flex-col relative" *ngFor="let celebrity of aboutSection.celebrityFavoriteList; let i = index">
                        <label class="block mb-2 text-sm font-medium text-gray-900">ID</label>
                        <input type="text" class="mb-2 block w-20 p-1 text-gray-900 border border-gray-300 rounded bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 bg-gray-200 text-center" [(ngModel)]="celebrity.id" readonly>
                        <button type="button" class="absolute top-0 right-0 m-2 p-2 bg-red-500 rounded-full shadow hover:bg-red-600 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2 flex items-center justify-center z-10 cursor-pointer" (click)="removeCelebrity(i)" aria-label="Delete Celebrity">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <label class="block mb-2 text-sm font-medium text-gray-900">Celebrity Name</label>
                        <input type="text" class="mb-2 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="celebrity.name">
                        <label class="block mb-2 text-sm font-medium text-gray-900">Link</label>
                        <input type="text" class="mb-2 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="celebrity.link">
                    </div>
                </div>
                <button type="button" class="w-full px-4 py-1 bg-green-500 text-white rounded-lg shadow hover:bg-green-600 transition-colors duration-200 focus:outline-none mt-2" (click)="addCelebrity()">
                    Add Celebrity
                </button>
            </div>
            <div class="flex flex-col">
                <h3 class="text-lg font-semibold mb-2 text-blue-600">Hobbies</h3>
                <div class="bg-sky-200 p-4 rounded flex flex-col h-full">
                    <div *ngFor="let hobby of aboutSection.hobbies; let i = index" class="relative mb-2">
                        <input type="text" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500" [(ngModel)]="aboutSection.hobbies[i]">
                        <button type="button" class="absolute top-0 right-0 m-1 p-1 bg-red-500 rounded-full shadow hover:bg-red-600 transition-colors duration-200 focus:outline-none flex items-center justify-center z-10 cursor-pointer" (click)="removeHobby(i)" aria-label="Delete Hobby">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                    <button type="button" class="w-full px-4 py-1 bg-green-500 text-white rounded-lg shadow hover:bg-green-600 transition-colors duration-200 focus:outline-none mt-auto" (click)="addHobby()">
                        Add Hobby
                    </button>
                </div>
            </div>
        </div>
    </div>
</details>
<div class="mt-8 mb-4 flex flex-col sm:flex-row items-center justify-center gap-4 px-2">
    <button type="button" class="w-full sm:w-auto flex items-center justify-center px-6 py-3 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2" (click)="updateProfile()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
        </svg>
        <span>Update</span>
    </button>
    <button type="button" class="w-full sm:w-auto flex items-center justify-center px-6 py-3 bg-gray-500 text-white rounded-lg shadow-md hover:bg-gray-600 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2" (click)="resetProfile()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 110 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
        </svg>
        <span>Reset</span>
    </button>
</div>