<details class="mb-4 border-b border-gray-300 pb-2" open>
    <summary class="cursor-pointer text-xl font-semibold text-gray-800 hover:text-blue-600 focus:outline-none py-2">
        Interests
        <span class="float-right text-gray-500 details-icon">
            <svg class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
        </span>
    </summary>
    <div class="p-4 bg-gray-50 rounded-b-lg" open>
        <div class="space-y-4">
            <p class="text-gray-700"></p>
        </div>
    </div>
</details>
<details class="mb-4 border-b border-gray-300 pb-2" open>
    <summary class="cursor-pointer text-xl font-semibold text-gray-800 hover:text-blue-600 focus:outline-none py-2">
        Education
        <span class="float-right text-gray-500 details-icon">
            <svg class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
        </span>
    </summary>
    <div class="p-4 bg-gray-50 rounded-b-lg">
        <p class="text-gray-700">
            Angular is a platform and framework for building single-page client applications using HTML and TypeScript.
            It's maintained by the Angular team at Google and a community of individuals and corporations.
        </p>
    </div>
</details>
<details class="mb-4 border-b border-gray-300 pb-2" open>
    <summary class="cursor-pointer text-xl font-semibold text-gray-800 hover:text-blue-600 focus:outline-none py-2">
        Experince
        <span class="float-right text-gray-500 details-icon">
            <svg class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
        </span>
    </summary>
    <div class="p-4 bg-gray-50 rounded-b-lg">
        <p class="text-gray-700">
            Angular is a platform and framework for building single-page client applications using HTML and TypeScript.
            It's maintained by the Angular team at Google and a community of individuals and corporations.
        </p>
    </div>
</details>
<details class="mb-4 border-b border-gray-300 pb-2" open>
    <summary class="cursor-pointer text-xl font-semibold text-gray-800 hover:text-blue-600 focus:outline-none py-2">
        Skills
        <span class="float-right text-gray-500 details-icon">
            <svg class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
        </span>
    </summary>
    <div class="p-4 bg-gray-50 rounded-b-lg">
        <p class="text-gray-700">
            Angular is a platform and framework for building single-page client applications using HTML and TypeScript.
            It's maintained by the Angular team at Google and a community of individuals and corporations.
        </p>
    </div>
</details>
<details class="mb-4 border-b border-gray-300 pb-2" open>
    <summary class="cursor-pointer text-xl font-semibold text-gray-800 hover:text-blue-600 focus:outline-none py-2">
        Award & Certifications
        <span class="float-right text-gray-500 details-icon">
            <svg class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
        </span>
    </summary>
    <div class="p-4 bg-gray-50 rounded-b-lg">
        <p class="text-gray-700">
            Angular is a platform and framework for building single-page client applications using HTML and TypeScript.
            It's maintained by the Angular team at Google and a community of individuals and corporations.
        </p>
    </div>
</details>