<details class="mb-4 border-b border-gray-300 dark:border-gray-600 dark:border-gray-700 pb-2" open>
  <summary
    class="cursor-pointer text-xl font-semibold text-green-800 dark:text-green-400 hover:text-green-400 dark:hover:text-green-200 focus:outline-none py-2 underline"
  >
    Interests
    <span class="float-right text-gray-500 dark:text-gray-400 details-icon">
      <svg
        class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </span>
  </summary>
  <div class="p-4 bg-gray-50 dark:bg-gray-900 dark:bg-gray-800 rounded-b-lg" open>
    <div class="space-y-4">
      <p
        *ngFor="let interest of interestSection?.paragraphList"
        class="text-gray-700 dark:text-gray-300"
      >
        {{ interest }}
      </p>
    </div>
  </div>
</details>
<details class="mb-4 border-b border-gray-300 dark:border-gray-600 pb-2" open>
  <summary
    class="cursor-pointer text-xl font-semibold text-green-800 hover:text-green-400 focus:outline-none py-2 underline"
  >
    Education
    <span class="float-right text-gray-500 details-icon">
      <svg
        class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </span>
  </summary>
  <div
    class="p-2 bg-gray-50 dark:bg-gray-900 rounded-b-lg"
    *ngFor="let education of educationSection"
  >
    <div
      class="block p-4 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm hover:bg-gray-100 light:bg-gray-800 dark:border-gray-700 light:hover:bg-gray-400"
      *ngIf="education.visible==true"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100 dark:text-black dark:text-white"
      >
        {{ education.name }}
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-300 dark:text-gray-600 dark:text-gray-400">
        {{ education.depart }}
      </p>
      <p
        class="inline-flex font-medium items-center text-blue-600 hover:underline"
      >
        Graduation: {{education.studiesYear}} - {{education.graduateYear}} |
        GPA: {{education.gpa}}
      </p>
    </div>
  </div>
</details>
<details class="mb-4 border-b border-gray-300 dark:border-gray-600 pb-2" open>
  <summary
    class="cursor-pointer text-xl font-semibold text-green-800 hover:text-green-400 focus:outline-none py-2 underline"
  >
    Experince
    <span class="float-right text-gray-500 details-icon">
      <svg
        class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </span>
  </summary>
  <div class="p-2 bg-gray-50 dark:bg-gray-900 rounded-b-lg">
    <div
      class="block p-4 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm hover:bg-green-50 hover:border-green-300 light:bg-gray-800 dark:border-gray-700 light:hover:bg-gray-400 mb-2 cursor-pointer transition-all duration-300 transform hover:-translate-y-1 hover:shadow-md"
      title="Click to read more"
      *ngFor="let experince of experienceSection"
      [hidden]="!experince.visible"
      (click)="openExperiencePopup(experince)"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100 dark:text-black dark:text-white"
      >
        {{ experince.name }}
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-300 dark:text-gray-600 dark:text-gray-400">
        {{ experince.position }}
      </p>
      <p
        class="inline-flex font-medium items-center text-blue-600 hover:underline"
      >
        {{experince.startDate}} - {{experince.endDate=='' ? 'Now' :
        experince.endDate}}
      </p>
    </div>
  </div>
</details>
<details class="mb-4 border-b border-gray-300 dark:border-gray-600 pb-2" open>
  <summary
    class="cursor-pointer text-xl font-semibold text-green-800 hover:text-green-400 focus:outline-none py-2 underline"
  >
    Skills
    <span class="float-right text-gray-500 details-icon">
      <svg
        class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </span>
  </summary>
  <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-b-lg">
    <strong class="text-gray-700 dark:text-gray-300 dark:text-gray-600 dark:text-gray-400">
      Programming Language & Tools
    </strong>
    <div
      class="text-sm font-medium text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm light:bg-gray-800 light:border-gray-700 dark:text-black dark:text-white"
    >
      <a
        class="block w-full px-4 py-2 border-b border-gray-200 dark:border-gray-700 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
        *ngFor="let tools of skillSection?.tools"
      >
        {{ tools }}
      </a>
    </div>
    <strong class="text-gray-700 dark:text-gray-300 dark:text-gray-600 dark:text-gray-400"> Workflow </strong>
    <div
      class="text-sm font-medium text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm light:bg-gray-800 light:border-gray-700 dark:text-black dark:text-white"
    >
      <a
        class="block w-full px-4 py-2 border-b border-gray-200 dark:border-gray-700 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
        *ngFor="let workflow of skillSection?.workflows"
      >
        {{ workflow }}
      </a>
    </div>
  </div>
</details>
<details class="mb-4 border-b border-gray-300 dark:border-gray-600 pb-2" open>
  <summary
    class="cursor-pointer text-xl font-semibold text-green-800 hover:text-green-400 focus:outline-none py-2 underline"
  >
    Award & Certifications
    <span class="float-right text-gray-500 details-icon">
      <svg
        class="h-6 w-6 inline-block transform transition-transform duration-200 rotate-0"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </span>
  </summary>
  <div class="p-4 bg-gray-50 dark:bg-gray-900 rounded-b-lg">
    <!-- Use ng-container to avoid extra div -->
    <a
      *ngFor="let awardAndCertificate of awardAndCertificateSection"
      [hidden]="!awardAndCertificate.visible"
      class="flex flex-col items-center bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm md:flex-row hover:bg-gray-100 light:border-gray-700 light:bg-gray-800 light:hover:bg-gray-700 mb-2 last:mb-0"
    >
      <img
        class="object-cover w-fit rounded-t-lg h-15 md:h-auto md:w-15 md:rounded-none md:rounded-s-lg"
        [src]="awardAndCertificate.file"
        alt="AwardAndCertificate"
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100 dark:text-black dark:text-white"
        >
          {{ awardAndCertificate.name }}
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-300 dark:text-gray-400">
          {{ awardAndCertificate.description }}
        </p>
      </div>
    </a>
  </div>
</details>

<app-loading-overlay [isLoading]="isPageLoading"></app-loading-overlay>

<app-experience-popup
  [isOpen]="isExperiencePopupOpen"
  [selectedExperience]="selectedExperience"
  (closePopup)="closeExperiencePopup()"
>
</app-experience-popup>
