<nav class="flex mb-5" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
            <a routerLink="/backoffice/home" routerLinkActive="active" class="inline-flex items-center text-sm font-medium text-gray-700 dark:text-white hover:text-blue-600 cursor-pointer">
                <svg class="w-4 h-4 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                Home
            </a>
        </li>
        <li>
            <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">Manage</span>
            </div>
        </li>
    </ol>
</nav>
<ol class="grid grid-cols-1 sm:grid-cols-8 gap-1 mb-5 text-sm font-medium text-gray-500">
    <li>
        <a routerLink="/backoffice/manage/" routerLinkActive="text-blue-600 border-blue-500 bg-blue-50" [routerLinkActiveOptions]="{exact: true}" class="flex items-center p-4 border border-gray-200 dark:border-white/20 rounded-lg hover:bg-gray-50 dark:bg-gray-900 hover:border-gray-300 dark:border-white/20 cursor-pointer">
            <span class="flex items-center justify-center w-6 h-6 mr-3 text-xs border border-current rounded-full shrink-0">
                1
            </span>
            <h3 class="font-medium">Profile</h3>
        </a>
    </li>
    <li>
        <a routerLink="/backoffice/manage/interest" routerLinkActive="text-blue-600 border-blue-500 bg-blue-50" class="flex items-center p-4 border border-gray-200 dark:border-white/20 rounded-lg hover:bg-gray-50 dark:bg-gray-900 hover:border-gray-300 dark:border-white/20 cursor-pointer">
            <span class="flex items-center justify-center w-6 h-6 mr-3 text-xs border border-current rounded-full shrink-0">
                2
            </span>
            <h3 class="font-medium">Interest</h3>
        </a>
    </li>
    <li>
        <a routerLink="/backoffice/manage/education" routerLinkActive="text-blue-600 border-blue-500 bg-blue-50" class="flex items-center p-4 border border-gray-200 dark:border-white/20 rounded-lg hover:bg-gray-50 dark:bg-gray-900 hover:border-gray-300 dark:border-white/20 cursor-pointer">
            <span class="flex items-center justify-center w-6 h-6 mr-3 text-xs border border-current rounded-full shrink-0">
                3
            </span>
            <h3 class="font-medium">Education</h3>
        </a>
    </li>
    <li>
        <a routerLink="/backoffice/manage/experience" routerLinkActive="text-blue-600 border-blue-500 bg-blue-50" class="flex items-center p-4 border border-gray-200 dark:border-white/20 rounded-lg hover:bg-gray-50 dark:bg-gray-900 hover:border-gray-300 dark:border-white/20 cursor-pointer">
            <span class="flex items-center justify-center w-6 h-6 mr-3 text-xs border border-current rounded-full shrink-0">
                4
            </span>
            <h3 class="font-medium">Experience</h3>
        </a>
    </li>
    <li>
        <a routerLink="/backoffice/manage/skills" routerLinkActive="text-blue-600 border-blue-500 bg-blue-50" class="flex items-center p-4 border border-gray-200 dark:border-white/20 rounded-lg hover:bg-gray-50 dark:bg-gray-900 hover:border-gray-300 dark:border-white/20 cursor-pointer">
            <span class="flex items-center justify-center w-6 h-6 mr-3 text-xs border border-current rounded-full shrink-0">
                5
            </span>
            <h3 class="font-medium">Skills & Workflows</h3>
        </a>
    </li>
    <li>
        <a routerLink="/backoffice/manage/portfolio" routerLinkActive="text-blue-600 border-blue-500 bg-blue-50" class="flex items-center p-4 border border-gray-200 dark:border-white/20 rounded-lg hover:bg-gray-50 dark:bg-gray-900 hover:border-gray-300 dark:border-white/20 cursor-pointer">
            <span class="flex items-center justify-center w-6 h-6 mr-3 text-xs border border-current rounded-full shrink-0">
                6
            </span>
            <h3 class="font-medium">Portfolio</h3>
        </a>
    </li>
    <li>
        <a routerLink="/backoffice/manage/awardandcertificate" routerLinkActive="text-blue-600 border-blue-500 bg-blue-50" class="flex items-center p-4 border border-gray-200 dark:border-white/20 rounded-lg hover:bg-gray-50 dark:bg-gray-900 hover:border-gray-300 dark:border-white/20 cursor-pointer">
            <span class="flex items-center justify-center w-6 h-6 mr-3 text-xs border border-current rounded-full shrink-0">
                7
            </span>
            <h3 class="font-medium">Award & Certificates</h3>
        </a>
    </li>
    <li>
        <a routerLink="/backoffice/manage/resume" routerLinkActive="text-blue-600 border-blue-500 bg-blue-50" class="flex items-center p-4 border border-gray-200 dark:border-white/20 rounded-lg hover:bg-gray-50 dark:bg-gray-900 hover:border-gray-300 dark:border-white/20 cursor-pointer">
            <span class="flex items-center justify-center w-6 h-6 mr-3 text-xs border border-current rounded-full shrink-0">
                8
            </span>
            <h3 class="font-medium">Resume</h3>
        </a>
    </li>
</ol>
<router-outlet></router-outlet>