/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/* src/styles.css */
@custom-variant dark (&:is(.dark *));
@font-face {
  font-family: 'AnakotmaiFont'; /* ตั้งชื่อฟอนต์ของคุณ */
  src: url('assets/fonts/Anakotmai-medium.woff2') format('woff2'),
       url('assets/fonts/Anakotmai-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnakotmaiFont'; /* ชื่อเดียวกัน */
  src: url('assets/fonts/Anakotmai-bold.woff2') format('woff2'),
       url('assets/fonts/Anakotmai-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* เพิ่ม @tailwind directives หากยังไม่มี */
@tailwind base;
@tailwind components;
@tailwind utilities;